parameters:
    level: 6
    paths:
        - os-core
        - os-admin/controllers
        - os-cli/commands
    excludePaths:
        - vendor
        - os-content
        - tests
        - docker
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
