parameters:
    level: 6
    paths:
        - kb-core
        - kb-admin/controllers
        - kb-cli/commands
    excludePaths:
        - vendor
        - kb-content
        - tests
        - docker
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
